:host {
  display: flex;
  .card {
    position: relative;
    height: 150px;
    img {
      max-height: 150px;
    }
    &.upside-down {
      &:after {
        content: '';
        background: url("src/assets/card-back.png") center center/contain no-repeat;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
      }
    }
  }
}
